body,
#app {
    height: 100vh;
}

nav {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
    height: 52px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
}

.items {
    display: flex;
    gap: 1rem;
}